<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Handlers at Work</title>
    </head>
    <body>
        <img src="img/car.jfif"/>
        <h1>Hello There, {{name}}</h1>
    </body>
</html>